<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035616477079-pg59p09hkv19faj5vru9o164v33d9k57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035616477079-pg59p09hkv19faj5vru9o164v33d9k57</string>
	<key>API_KEY</key>
	<string>AIzaSyAliq1llIe345u_MJGR7cV20NmO3KIVev4</string>
	<key>GCM_SENDER_ID</key>
	<string>1035616477079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dompet</string>
	<key>PROJECT_ID</key>
	<string>dompet-fd703</string>
	<key>STORAGE_BUCKET</key>
	<string>dompet-fd703.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035616477079:ios:07ba7ec15d941079abeed2</string>
</dict>
</plist>